<% flash.each do |message_type, message| %>
<%= message %>
<% end %>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
			<h1>Welcome to <span class="glyphicon glyphicon-book"></span>Bookers !!</h1>
			<p class="top-text">In <span class="glyphicon glyphicon-book"></span><strong>Bookers,</strong></br>
			you can share and exchange your opinions , inpressions , and emotions</br>about various books!</p>
		    </div>
	         <div class="row">
	         	<a class="btn top-btn btn-info col-xs-5 col-xs-offset-4" href="/users/sign_in">Log in</a>
	         </div>
	         <div class="row">
	         	<a class="btn top-btn btn-success col-xs-5 col-xs-offset-4" href="/users/sign_up">Sign up</a>
	    </div>
