/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.alert{
	color: red;
}

#notice{
	color: green;
}

.container{
	margin: 0 auto;
}

header{
	color: white;
}

.header-text{
	font-size: 20px;
}

.top-text{
	line-height: 30px;
}

.top-btn{
	color: gray;
}

.footer-text{
	float: right;
}

.submit{
    width: 100%;
	display: block;
}

.submit2{
    width: 100%;
    display: block;
	margin-top: 10px;
}

.edit-btn{
	width: 100%;
}

.top-table{
	border-top-style: none;
}

.sidebtn{
	width: 100%;
}

.intro{
	display: inline-block;
	padding-top: 3px;
}

.edit-1{
	display: inline;
}